
<form method="GET">
  <div class="input-group mt-5">
    <input type="text" name="q" value="<%- query.q %>" class="form-control rounded" placeholder="Search by type of Notification" aria-label="Search" aria-describedby="search-addon" />
    <button class="btn btn-primary">Search</button>
  </div>
</form>